.bdy{
    margin: 50px;
}
.center{
    font-size:xxx-large;
    padding: 10px;
    text-align: center;
}
.center1{
    font-size:x-large;
    padding: 10px;
    text-align: center;
}
.grid-container1 {
    display: grid;
    grid-template-columns: 2fr 3fr;
    padding: 50px;
    grid-gap: 100px;
  
}